::selection {
	background-color: #E13300;
	color: white;
}

::-moz-selection {
	background-color: #E13300;
	color: white;
}

body {
	background-color: #fff;
	margin: 40px;
	margin: 0 auto;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}
/* Remove the jumbotron's default bottom margin */
.jumbotron, .panel-heading {
	margin-bottom: 0;
	background-color: white;
	font-weight: bold;
	font-family: 'Quattrocento', serif;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
	background-color: lightyellow;
	margin-bottom: 50px;
	border-radius: 0;
}

#nav-def{
	margin-bottom:0px;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-bottom: 3px solid #fed136;
}

#footer-text{
	background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-top: 3px solid #fed136;
    position: absolute;
    width: 100%;    
}
#nav-nav,#nav-cuenta{
	margin: 15px;
}

a{
	font-size: 20px;
}
.navbar-nav {
    margin: 15px;
}
/* Add a gray background color and some padding to the footer */
footer {
	background-color: lightyellow;
	padding: 25px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	margin: 25px;
	
}
#form-cont{
	font-size: 15px;
	
}

/*body {
	width: 70%;
	height: 100%;
	margin: 0 auto;
}
*/
     .jumbotron , .panel-heading{
      margin-bottom: 0;
      background-color: lightblue;
	 font-weight: bold;
	 font-family: 'Quattrocento', serif;
    }
    
.navbar {
	background-color: lightyellow;
	margin-bottom: 50px;
	border-radius: 0;	
}
.navbar-brand>img {
    display: block;
    width: 110px;
}
footer {
	margin-top: 30px;
	background-color: lightyellow;
	padding: 25px;
}
.container{
	position: relative;

	}
	
.post-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.post-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  
}
.post-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.post-modal .modal-content p {
  margin-bottom: 30px;
}
.post-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.post-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.post-modal .modal-content img {
  margin-bottom: 30px;
}
.post-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.post-modal .close-modal:hover {
  opacity: 0.3;
}
.post-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.post-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.post-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

.modal-body {
    margin-left: -180px;
}
	
