::selection {
	background-color: #E13300;
	color: white;
}

::-moz-selection {
	background-color: #E13300;
	color: white;
}

body {
	background-color: #fff;
	margin: 40px;
	margin: 0 auto;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}
/* Remove the jumbotron's default bottom margin */
.jumbotron, .panel-heading {
	margin-bottom: 0;
	background-color: white;
	font-weight: bold;
	font-family: 'Quattrocento', serif;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
	background-color: lightyellow;
	margin-bottom: 50px;
	border-radius: 0;
}

#nav-def{
	margin-bottom:0px;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-bottom: 3px solid #fed136;
}

#footer-text{
	background-color: #f8f8f8;
    border-color: #f8f8f8;
    border-top: 3px solid #fed136;
    position: absolute;
    width: 100%;
}
#nav-nav,#nav-cuenta{
	margin: 15px;
}

a{
	font-size: 20px;
}
.navbar-nav {
    margin: 15px;
}
/* Add a gray background color and some padding to the footer */
footer {
	background-color: lightyellow;
	padding: 25px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	margin: 25px;
	
}
#form-cont{
	font-size: 15px;
	
}

/*body {
	width: 70%;
	height: 100%;
	margin: 0 auto;
}
*/
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron , .panel-heading{
      margin-bottom: 0;
      background-color: lightblue;
	 font-weight: bold;
	 font-family: 'Quattrocento', serif;
    }
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
	background-color: lightyellow;
	margin-bottom: 50px;
	border-radius: 0;	
}
.navbar-brand>img {
    display: block;
    width: 110px;
}
/* Add a gray background color and some padding to the footer */
footer {
	background-color: lightyellow;
	padding: 25px;
}
.container{
	position: relative;

	}
