<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Despliegue Servlets</display-name>
  <!-- <servlet>
    <servlet-name>servletBienvenida</servlet-name>
    <servlet-class>servlets.Bienvenida14</servlet-class>
    <init-param>
      <param-name>usuarioRemoto</param-name>
      <param-value>Geyse</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletBienvenida</servlet-name>
    <url-pattern>/bienvenida</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <servlet-name>servletDespedida</servlet-name>
    <servlet-class>servlets.Despedida14</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDespedida</servlet-name>
    <url-pattern>/Despedida</url-pattern>
  </servlet-mapping>
</web-app>